<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>eCore</title>
  <link rel="shortcut icon" href="/web/static/src/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/web/static/lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="/web/static/lib/bootstrap/css/bootstrap.css">
  <script src="/web/static/lib/jquery/jquery.js" type="text/javascript"></script>
  <script src="/web/static/lib/bootstrap/js/modal.js"></script>
  <script src="/web/static/lib/bootstrap/js/tooltip.js"></script>
  <script src="/web/static/lib/bootstrap/js/dropdown.js"></script>

  <script type="text/javascript">
  $(function() {
      // Little eye
      $('body').on('mousedown','.o_little_eye',function(ev) {
          $(ev.target).siblings('input').prop('type','text');
      });
      $('body').on('mouseup','.o_little_eye',function(ev) {
          $(ev.target).siblings('input').prop('type','password');
      });
      // db modal
      $('body').on('click','.o_database_action', function(ev) {
          ev.preventDefault();
          var db = $(ev.currentTarget).data('db');
          var target = $(ev.currentTarget).data('target');
          $(target).find('input[name=name]').val(db);
          $(target).modal();
      });
  });
  </script>
</head>

{% macro master_input() -%}
  <div class="form-group">
    {% if insecure %}
      <input type="hidden" name="master_pwd" class="form-control" value="admin"/>
    {% else %}
      <label for="master_pwd" class="control-label">Contraseña Maestra</label>
      <input type="password" name="master_pwd" class="form-control" required="required" autofocus="autofocus"/>
    {% endif %}
  </div>
{%- endmacro %}

{% macro create_form() -%}
  <p style="text-align: center">eCore te permite crear diferentes compañias asociadas a un mismo grupo empresarial.</p>
  {{ master_input() }}
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <label for="name" class="control-label">Nombre de empresa o NIT</label>
        <input type="text" name="name" class="form-control" required="required" autocomplete="off"/>
      </div>
      <div class="col-md-4">
        <label for="name" class="control-label">Idioma</label>
        <select name="lang" class="form-control" required="required" autocomplete="off">
          {% for lang in langs %}
              <option {% if lang[0] == "es_CO" %}selected="selected" {% endif %}value="{{ lang[0] }}">{{ lang[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="form-group has-feedback">
    <label for="password" class="control-label">Contraseña del usuario <em>administrador</em></label>
    <input type="password" name="password" class="form-control" required="required" autocomplete="off"/>
    <span class="fa fa-eye o_little_eye form-control-feedback" aria-hidden="true" style="cursor: pointer; pointer-events: auto"></span>
  </div>
<!--  <div class="form-group">
    <div class="checkbox">
      <label>
        <input name="demo" type="checkbox" class="pull-right" value="1">
        <span class="text-muted">Empresa temporal</span>
      </label>
    </div>
  </div> -->
{%- endmacro %}


<body style="background-image: rgba(255, 255, 255, 0.0)" class="container">

  <!-- Database List -->
  <div id="tensor-flow" style="width: 100%; height: 100%; position: fixed; z-index: -10; top: 0; left: 0;"> </div>
  <div id="tensor-flow" class="row">
    <div class="col-md-6 col-md-offset-3 o_database_list" style="background: rgba(174, 174, 174, 0.04); border-radius:10px; padding: 20px; top: 50px; border: 5px solid rgba(174, 174, 174, 0.02);">
      <div class="text-center">
        <img src="/web/static/src/img/logo.png" class="img-responsive center-block" style="width: 30%;" />
      </div>
      {% if insecure and databases %}
      <div style="text-align: center; "class="alert alert-warning">
      Sus empresas no estan protegidas, 
      por favor <a href="#" data-toggle="modal" data-target=".o_database_master">cambia tu clave maestra</a>
      </div>
      {% endif %}
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      {% if databases %}
        <div class="list-group">
          {% for db in databases %}
          <a href="/web?db={{ db }}" class="list-group-item">
            {{ db }}
            {% if manage %}
            <div class="text-right pull-right">
            <span data-db="{{ db }}" data-target=".o_database_backup" class="o_database_action btn-link"><i class="fa fa-floppy-o fa-fw"></i> Respaldar</span>
            <span data-db="{{ db }}" data-target=".o_database_duplicate" class="o_database_action btn-link"><i class="fa fa-files-o fa-fw"></i> Duplicar</span>
            <span data-db="{{ db }}" data-target=".o_database_delete" class="o_database_action btn-link"><i class="fa fa-trash-o fa-fw"></i> Eliminar</span>
            </div>
            {% endif %}
          </a>
          {% endfor %}
        </div>
        {% if manage %}
        <div class="text-center">
          <button style="margin: 5px 0" type="button" data-toggle="modal" data-target=".o_database_create" class="btn btn-sm btn-primary">
            Crear empresa
          </button>
          <button style="margin: 5px 0" type="button" data-toggle="modal" data-target=".o_database_restore" class="btn btn-sm btn-primary">
            Restaurar empresa
          </button>
          <button type="button" data-toggle="modal" data-target=".o_database_master" class="btn btn-sm btn-primary">
            Cambio de clave maestra
          </button>
        </div>
        {% else %}
        <div class="text-center">
          <a href="/web/database/manager">Administrar empresas</a>
        </div>
        {% endif %}
      {% else %}
        <form role="form" action="/web/database/create" method="post">
          {{ create_form() }}
          <input type="submit" value="Crear empresa" class="btn btn-primary pull-left"/>
        </form>
      {% endif %}
    </div>
  </div>

  <!-- Create -->
  <div class="modal fade o_database_create" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" action="/web/database/create" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Crear empresa</h4>
          </div>
          <div class="modal-body">
            {{ create_form() }}
          </div>
          <div class="modal-footer">
            <input type="submit" value="Crear" class="btn btn-primary pull-right"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Restore -->
  <div class="modal fade o_database_restore" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Restaurar empresa</h4>
        </div>
        <form id="form_restore_db" role="form" action="/web/database/restore" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            {{ master_input() }}
            <div class="form-group">
              <label for="backup_file" class="control-label">Archivo de respaldo (zip o dump)</label>
              <input type="file" name="backup_file" class="required"/>
            </div>
            <div class="form-group">
              <label for="name" class="control-label">Nombre de empresa</label>
              <input type="text" name="name" class="form-control" required="required"/>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input name="copy" type="checkbox" class="pull-right" value="1">
                  <span>Crear una nueva empresa a partir de este archivo.</span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Aceptar" class="btn btn-primary pull-right"/>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Contraseña Maestra -->
  <div class="modal fade o_database_master" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cambio de clave maestra</h4>
        </div>
        <form id="form_change_pwd" role="form" action="/web/database/change_password" method="post">
          <div class="modal-body">
            <p>¡Importante!</p>
            <p>Esta clave es la usada para crear, respaldar, editar y eliminar empresas de su grupo empresarial.</p> 
            <p>Es importante usar una clave con mayúsculas, minúsculas, números y símbolos para mayor seguridad.</p>
            <p>Memorice o guarde esta clave en un lugar seguro, ya que de perderla no podra ejecutar tareas de super usuario.</p>
            {{ master_input() }}
            <div class="form-group has-feedback">
              <label for="master_pwd_new" class="control-label">Nueva clave maestra</label>
              <input type="password" name="master_pwd_new" class="form-control" required="required" autocomplete="off"/>
              <span class="fa fa-eye o_little_eye form-control-feedback" aria-hidden="true" style="cursor: pointer; pointer-events: auto"></span>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Confirmar cambio de clave" class="btn btn-primary pull-right"/>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Duplicate DB -->
  <div class="modal fade o_database_duplicate" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Duplicar empresa</h4>
        </div>
        <form id="form-duplicate-db" role="form" action="/web/database/duplicate" method="post">
          <div class="modal-body">
            {{ master_input() }}
            <div class="form-group">
              <label for="name" class="control-label">Empresa a duplicar</label>
              <input type="text" name="name" class="form-control" required="required" readonly="readonly"/>
            </div>
            <div class="form-group">
              <label for="new_name" class="control-label">Nuevo nombre</label>
              <input type="text" name="new_name" class="form-control" required="required"/>
            </div>
          </div>
          <div class="modal-footer">
          <input type="submit" value="Continuar" class="btn btn-primary pull-right"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Drop DB -->
  <div class="modal fade o_database_delete" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Eliminar empresa</h4>
        </div>
        <form id="form_drop_db" role="form" action="/web/database/drop" method="post">
          <div class="modal-body">
            {{ master_input() }}
            <div class="form-group">
              <label for="name" class="control-label">Nombre de empresa a eliminar</label>
              <input type="text" name="name" class="form-control" required="required" readonly="readonly"/>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Estoy seguro de eliminar esta empresa" class="btn btn-primary pull-right"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Backup DB -->
  <div class="modal fade o_database_backup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Crear copia de seguridad</h4>
        </div>
        <form id="form_backup_db" role="form" action="/web/database/backup" method="post">
          <div class="modal-body">
            {{ master_input() }}
            <div class="form-group">
              <label for="name" class="control-label">Empresa a respaldar</label>
              <input type="text" name="name" class="form-control" required="required" readonly="readonly"/>
            </div>
            <div class="form-group">
              <label for="backup_format" class="control-label">Formato de respaldo</label>
              <select name="backup_format" id="backup_format" class="form-control" required="required">
                <option value="zip">zip (Recomendada)</option>
                <option value="dump">pg_dump</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
          <input type="submit" value="Iniciar Copia" class="btn btn-primary pull-right"/>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="tensor-flow" style="width: 100%; height: 100%; position: fixed; z-index: -10; top: 0; left: 0;"> </div>
  <!--<script src="http://vincentgarreau.com/assets/js/lib/jquery-1.9.0.min.js"></script>-->
  <script src="/web/static/src/js/tensores/tensores.min.js"></script>
  <script>  tensoresJS.load('tensor-flow', '/web/static/src/js/tensores/tensoresjs-config.json', function() {
            console.log('callback - tensores.js config loaded'); });
  </script>
</body>
</html>
